{% extends 'layout.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Forgot Password
{% endblock %}

{% block link %}
{% endblock %}

{% block content %}
<div class="container" style="height: 63vh;">
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="text-center">
            <h2 class="mb-3">Lets reset your password!</h1>
            <h5>Please enter the mobile number that is associated with your account so that we can reset your password:</h1>
            <form class="text-center needs-validation mt-3" method="POST" action="/forgot-password-form" novalidate>
                <div class="row">
                    <div class="col-6 offset-3 mb-3">
                        <div class="form-floating">
                            <input type="tel" id="phone" name="phone" class="form-control" placeholder="(xxx) xxx-xxxx" pattern="^\d{10}$" required>
                            <div class="invalid-feedback">
                                Please enter a valid mobile number contaning only numbers.
                            </div>
                            <label class="form-label" for="phone">Mobile Number</label>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-outline-dark mb-4" style="background-color: rgb(184, 207, 55);">Send Verification Code</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="../static/Forgot-Password.js"></script>
{% endblock %}