{% extends 'layout.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Password Reset
{% endblock %}

{% block link %}
{% endblock %}

{% block content %}
<div class="container" style="height: 63vh;">
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="text-center">
            <h2 class="mb-3">Forgot your password? No worries!</h1>
            <h5>Please enter your new password:</h1>
            <form class="text-center needs-validation mt-3" method="POST" action="/password-reset-form" novalidate>
                <div class="row">
                    <div class=" col-12 col-lg-6 offset-lg-3 mb-3">
                        <div class="form-floating">
                            <input type="password" id="pass-in" name="pass-in" class="form-control" placeholder="Password" pattern="(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,20}" required>
                            <div class="invalid-feedback">
                                Please enter a valid new password.
                            </div>
                            <label class="form-label" for="pass-in">Create Password</label>
                        </div>
                        <div id="passwordHelpBlock" class="form-text">
                            Your password must be 8-20 characters long, contain letters, numbers, at least one special character, must not contain spaces or emojis.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6 offset-lg-3 mb-3"> 
                        <div class="form-floating">
                            <input type="password" id="pass-confirm" class="form-control" placeholder="Password" required>
                            <div class="invalid-feedback">
                                Please make sure passwords match
                            </div>
                            <label class="form-label" for="pass-in">Confirm Password</label>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-outline-dark mb-4" style="background-color: rgb(184, 207, 55);">Reset</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="../static/Password-Reset.js"></script>
{% endblock %}